/* ======= GERAL============================= */

* {
    margin: 0;
    box-sizing: border-box;
    /* /* esse é um seletor universal "*"  */
    /* isso faz com que a caixa seja contada a partir da borda e não do conteúdo */ 
}


:root {

    --primary-color: hsl(170, 100%, 26%);
    --headline: hsl(210, 11%, 15%);
    --paragraph: hsl(210, 9%, 31%);
    
    --brand-beige: hsl(39, 100%, 97%);
    --brand-light: hsl(148, 23%, 89%);
    
    --nav-height: 7.2rem;



    font-size: 62.5%;
}
/* Coloca-se root (raiz) para englobar toda a pagina */

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    
    text-align: center;
}
/* coloca-se body porque toda a pagina tem estilo de letra DM Sans */
.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}


/* ======= HEADER================= */

header {
   
    margin-top: calc(4.1rem + var(--nav-height));
}


header::before {
    content: "";
    width: 100vw;
    height: calc(108rem + var(--nav-height));
    background-color: var(--brand-light);
    display: block;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


 header h4 {
    font-size: 1.4rem;
    color: var(--primary-color);
    /*OU  color:hsla(170, 100%, 26%, 1); */
    /* var: É ASSIM QUE SE USA UMA VARIÁVEL */
    margin-bottom: 1.6rem;

}
/* /* fala-se REM para usar o root como referência, o tamanho padrao, no caso o root ta 62.5 do padrão, que é 16px, assim se multiplica um valor pelo "rem" que é o tamanho do root (padrao) */

header h1 {
    font-size: 3.4rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

header p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph);
    margin-bottom: 3.2rem;
}

header button {
    background: var(--primary-color);
    
    border: none;
    border-radius: 4rem;
    /* border-radius é o arredondamento */

    margin-bottom: 6rem;

    height: 6.2rem;
    width: 26.3rem;

    color: white;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 700;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;

    margin-right: auto;
    margin-left: auto;
}

header img {
    width: 26.4rem;
    display:block;
    /* para tirar o minimo detalhe da parte de baixo da imagem, pois tinha um espacinho em branco */
    margin-inline:auto;
    object-position: 0 2rem;

}


.stats {
    Width: 32.7rem;
   padding-block: 4rem;
   /* os padding são espacos em baixo e em cima */

    margin-inline: auto;

    background-color: var(--brand-beige);
    border: 1px solid var(--brand-light);
    border-radius: 0.6rem;
    
    
    display: flex;
    /* para deixar as caixas ao meio, eles ficaram em linha */
    flex-direction:column;
    /* indica o sentido que é em coluna e não linha */
    justify-content: center;
    /* como esta em coluna, o justfy mantem o mesmo espaço em cima e em baixo */
    gap: 6rem; 
    /* separação entre os elementos */


}

.stat h3{
    font-size: 4.8rem;
    color: var(--headline);
    line-height: 130%;
    margin-bottom: 0.4rem;
}
.stat p {
    margin: 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    line-height: 150%;

}


/* ======= NAVIGATION============================ */

nav {
    display: flex;

    height: var(--nav-height);

    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav.scroll {
    background: var(--primary-color);
    width: 100vw;
}
/* essa é a classe para quando rolar a página */
nav.scroll svg:nth-child(1) path {
    fill: white;
    
}

nav.scroll svg:nth-child(2) path {0
    stroke: white;
}